<div class="container">
  <div>
    <select class="category-selection" name="" id="">
      <option value="">類別</option>
      <option value="">1</option>
      <option value="">2</option>
    </select>
  </div>
  
  <div class="amount-container"> 
    <span class="amount-title">總金額：</span>
    <p class="totalAmount">25260</p>
  </div>

  <div class="list-container">
    <ul class="expense-list">
      {{#each records}}
      <li class="expense-item-container">
        <div class="expense-item">
          <div class="expense-icon"><i class="fa-solid fa-utensils"></i></div>
          <div class="expense-content">
            <span class="expense-title">{{this.name}}</span>
            <span class="expense-date">{{this.date}}</span>
          </div>
          <span class="expense-cost">{{this.amount}}</span>
        </div>
        <div class="edit-box">

            <a href="/records/{{ this._id }}/edit">修改</a>
            <form action="/records/{{ this._id }}/delete" method="POST" style="display: inline;">
              <button type="submit">delete</button>
            </form>

        </div>
      </li>
      {{/each}}

    </ul>    
    <a class="btn-addNewExp" href="/new">新增支出</a>
  </div>
</div>